<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login / Sign Up Form</title>
   {{!-- <link rel="shortcut icon" href= "/assets/favicon.ico"> --}}
   <link rel="stylesheet" href="./css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
   <div class="container">
      <form action="/login" method="POST" class="form" id="login">
         <h1 class="form__title">Login</h1>
         <div class="form__message form__message--error"></div>
         <div class="form__input-group">
            <input type="email" class="form__input" autofocus placeholder="Email" required name="email">
            <div class="form__input-error-message"></div>
         </div>
         <div class="form__input-group">
            <input type="password" class="form__input" autofocus placeholder="Password" required name="password">
            <div class="form__input-error-message"></div>            
         </div>
         <button class="form__button" type="submit">Login</button>
         <p class="form__text">
            <a class="form__link" href="/register" id="linksignup" >Don't have an account? Sign up</a>
         </p>
      </form>
   </div>   
   <script src="./src/app.js"></script>
</body>
</html>